only-pc()
  @media (min-width: 1200px)
    {block}
    
h1
  color $accentColor

.container
  +only-pc()
    width 1200px
    margin 0 auto
    
.siteFooter
  +only-pc()
    min-width 1200px
    padding 20px 0
  background #242729
  padding 20px
  font-size 13px
  color #848d95
  position relative
  z-index 30
  p
    margin 0
  &Contact
    padding-top 10px
    a
      color inherit
      text-decoration none
      text-transform none
  
.sidebar
  +only-pc()
    left 0
    border-right-style dotted
    width 320px
    padding-bottom 100px
    .sidebar-links > li > .sidebar-sub-headers
      padding-left 0
      position fixed
      top 100px
      right 0
      width 270px
      ul, li
        list-style none
      a
        font-size 13px
.page
  padding-left 0